.contact__title h1 {
  line-height: 5rem;
}

.contact__contact-box {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  form {
    width: 80%;
  }
}

.user-box {
  position: relative;
}

.contact__contact-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  color: $primary;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid $black;
  outline: none;
  background: transparent;

  &:focus {
    border-bottom: 2px solid $primary;
  }
}

.contact__contact-box .user-box textarea {
  resize: none;
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  color: $primary;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid $black;
  outline: none;
  background: transparent;
  height: 60px;
  &:focus {
    border-bottom: 2px solid $primary;
  }
}
.contact__contact-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
}

.contact__contact-box .user-box input ~ label,
.contact__contact-box .user-box textarea ~ label {
  top: -20px;
  left: 0;
  color: $primary;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.contact__contact-box .user-box input:focus ~ label,
.contact__contact-box .user-box textarea:focus ~ label {
  color: $black;
  font-weight: 500;
}
.contact__contact-btn {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  color: $white;
  background-color: $black;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in;
  float: right;

  &:hover {
    color: $black;
    background-color: $white;
    border: 1px solid $black;
  }
}

.oaerror {
  background-color: white;
  border: 1px solid white;
  border-top-width: 1px;
  margin-bottom: 25px;
  font-size: 16px;
  padding-bottom: 10px;
}

.danger {
  border-bottom-color: #d9534f;
  color: #d9534f;
}

.danger strong {
  color: #d9534f;
}

.success {
  border-bottom-color: #4bca81;
  color: #4bca81;
}
.success strong {
  color: #4bca81;
}

@media only screen and (min-width: 600px) {
  .contact__contact-box {
    margin-bottom: 70px;
    form {
      width: 60%;
    }
  }
}
