.page__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.page__title-small {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  align-self: flex-start;
  text-decoration: underline;
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
  margin-left: 10px;
  text-transform: uppercase;
  height:  5rem;
}

.page__social-networks {
  display: none;
  position: absolute;
  right: 0%;
  top: 85%;
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
}

.social-fixed {
  top: 50%;
  left: -100%;
  position: fixed;
  margin-left: 40px;
}

.page__info {
  padding-top: 10%;
  width: 95%;

  h1 {
    padding: 20px 20px 30px 20px;
    color: $black;
    font-size: 5rem;
    text-transform: lowercase;
    font-weight: 800;
    line-height: 3.5rem;
  }
}

@media only screen and (min-width: 600px) {
  .page__info {
    h1 {
      padding-left: 50px;
    }
  }
  .page__social-networks {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .page__info-container {
    width: 70%;
  }
  .page__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-left: 50px;
      align-self: flex-start;
    }
  }
}
