* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}
a {
  text-decoration: none;
  color: #000000;
}
.logo {
  margin-left: 10%;
  margin-top: 5%;
  width: 100px;
}

p {
  line-height: 1.4rem;
}
.base__general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.base__square-btn {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 19px 22px;
  transition: all 0.2s ease;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #e6e5e5;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
}
.base__square-btn span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.base__square-btn:hover:before {
  width: 220px;
  background: #b1b0af;
}
.base__square-btn:active {
  transform: scale(0.96);
}
